/* Features for the main nav bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 120px;
  width: 100%;
  
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  background-color: #4056a1;
  color: #ffffff
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

/* Specifically targeting the create new tweet button on the right*/
.newTweet {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 1em;
}

#openNewTweet {
  color: red;
  position: relative;
  bottom: 25px;
  
}

#openNewTweet:hover {
  font-size: 1.3em;
}


