/* Form styling for new tweet submission */
.new-tweet {
  height: 200px;
  width: 100%;
  padding-top: 2em;
  display: none;
}


#tweet-text {
  width: 100%;
  height: 1.5em;
}


/* helper class to align submit button and text counter */
.new-tweet-helper {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
  font-family: 'Bungee', sans-serif;;

}

form {
  margin: 0em 1.5em;
}

form > textarea {
  background: transparent;
  border-color: transparent;
  border-bottom-width: 4px;
  border-bottom-color: rgb(86, 82, 72);

}

button {
  background-color: #4056a1;
  color: white;
}

/* this changes the counter color red when above 140 characters*/
form .error {
  color: red;
}

/* This is warning styling */
.invalidSubmission {
  display: none;
  font-size: 0.5em;
  color: red;
}