.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.tweet {
  display: flex;
  flex-direction: column;
  border-color: rgb(86, 82, 72);
  border-width: 4px;
  border-style: solid;
  margin: 1em;
  font-weight: 300;

}

.tweet.hover {
  box-shadow: 10px 5px 5px rgb(197, 202, 230);

}
.tweet:hover {
  box-shadow: 10px 5px 5px rgb(197, 202, 230);
}

.tweet header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.leftAlignUserInfo {
  width: 40%;
  display: flex;
}

.leftAlignUserInfo .profilePhoto {
  width: 65px;
  height: 65px;
  margin: 10px 10px 0 0;
}

.tweet h1, h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
}

.tweet h2 {
  color: rgb(204, 207, 231);
}


.tweetContent {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  
  padding-bottom: 1.5em;
  margin-left: 50px;
}


.tweet footer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-content: center;

  font-size: 0.65em;
  font-weight: 500;

  border-style: solid;
  border-width: 4px 0 0 0;

  padding: 1em;
  margin-left: 1.7em;
}

.tweet footer .icons {
  visibility: hidden;
  width: 80px;
  display: flex;
  justify-content: space-around;
}

.tweet:hover footer .icons {
  visibility: visible;
}