.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.tweet {
  display: flex;
  flex-direction: column;
  border-color: rgb(86, 82, 72);
  border-width: 4px;
  border-style: solid;
  margin: 1em;
  font-weight: 300;

}

.tweet.hover {
  box-shadow: 10px 5px 5px rgb(197, 202, 230);

}
.tweet:hover {
  box-shadow: 10px 5px 5px rgb(197, 202, 230);
}


.tweet header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 1em;
}

.tweet footer {
  width: 95%;
  font-size: 0.65em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border-style: solid;
  border-width: 4px 0 0 0;
  padding: 1em;
  margin-left: 1em;
}

.tweet footer .hover {
  
}

.tweetContent {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  padding-bottom: 1.5em;
  margin-left: 1em;
}


.leftAlignUserInfo {
  width: 10%;
  display: flex;

}

.leftAlignUserInfo .profilePhoto {
  margin-right: 15px;
  width: 65px;
  height: 65px;
  
}

.tweet h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  position: relative;
  bottom: 10px;
}

.tweet h1.hover {
  
}

.tweet h2 {
  visibility: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 1.5em;

}

.tweet:hover h2 {
  visibility: visible;
  color: rgb(204, 207, 231);
}
